/*CONTACTO*/
#contacto{
    width: 100%;
    padding: 0rem 0rem;
    background-image: 
        radial-gradient(farthest-side, 
            #14112ea2, 
            #14112eb8, 
            #14112ec5, 
            #14112E),
        url("../../img/genshinBG2.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-contacto{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.form-contacto img{
    width:  500px;
    margin-left: -50px;
}
.form-contacto form{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    color: white;
}
.form-contacto label, .form-contacto input{
    font-size: 1.7rem;
}
#contacto{
    padding-bottom: 0;
    margin-bottom: -2rem;

}
.botonForm{
    margin: 1rem 0rem;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 0;
    font-family: 'Montserrat';
    
}

.apartado{
    width: 100%;
}
.apartado h2{
    padding: 1rem 3rem;
}
.agregados{
    padding: 2.5rem 0rem;
    background-color: #14112E;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.agregados-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.agregados-tarjeta{
    margin: 0px 5px;
}
.agregados-tarjeta img{
    border-radius: 15px;
    width: 200px;
    height: 300px;
    -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.agregados-tarjeta a img:hover{
    -webkit-filter: grayscale(25%) blur(1px);
	filter: grayscale(25%) blur(1px);
}