*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: #14112E;
}
.nav-login-container{
    display: flex;
    align-items: center;
}
.nav-login-container img{
    height: 50px;
    pointer-events: none;
}
.nav-login-item{
    font-size: 1.2rem;
    padding: 0.7rem;
    text-decoration: none;
    color: #8281A0;
}
.boton{
    border-radius: 20px;
    font-weight: 500;
    color: rgb(197, 197, 197);
    margin: 0rem 0.5rem;
}
.botonGris{
    background-color: #393B61;
}
.botonGris:hover{
    background-color: #44455f;
}
.botonAzul{
    background-color: #3752ff;
}
.botonAzul:hover{
    background-color: #4c64ff;
}
.nav-login-item:hover{
    color: whitesmoke;
}
/*FOOTER*/
.footer-container{
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: justify;
}
.footer-column ul{
    list-style: none;
}
.footer-column li{
    margin-top: 1rem;
}
.footer-column{
    padding: 0rem 2rem;
}
.columna1{
    width: 20%;
}
.columna2{
    width: 80%;
}


.titulo-principal{
    width: 100%;
    padding: 10rem 0rem;
    background-image: radial-gradient(farthest-side, 
        #14112ea2, 
        #14112eb8, 
        #14112ec5, 
        #14112E), url("../../img/spider.jpg");
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo-principal p{
    color: white;
    font-size: 3rem;
    padding: 2rem;
    line-height: 2.5rem;
    text-align: center;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tarjeta{
    margin: 1rem;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;     
}
.tarjeta-icons{
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}
.cont{
    display: flex;
    flex-flow: column wrap;
}
.titulo{
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0rem;
}
.precio{
    text-align: center;
    font-size: 2rem;
    color: #C44A3E;
    margin-bottom: 1rem;
}
