#ubicacion{
    width: 100%;
    padding: 0rem 0rem;
    background-image: 
        radial-gradient(farthest-side, 
            #14112ea2, 
            #14112eb8, 
            #14112ec5, 
            #14112E),
        url("../../img/genshinBG2.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.apartado{
    width: 100%;
}
.apartado h2{
    padding: 1rem 3rem;
}
.agregados{
    padding: 2.5rem 0rem;
    background-color: #14112E;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.agregados-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}